
th {
    white-space: nowrap;
    cursor: pointer;
    user-select: none;
    color: grey;
  }
  
  table {
    margin: 0;
    font-family: "Lato";
    font-size: 12px;
  }
  
  .table-responsive {
    min-height: 60px;
  }
  
  .cell {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
  }
  
  .table thead th {
    vertical-align: top;
  }