<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="p-1" *ngFor="let column of getUserColumnNames()">
            {{ column }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let users of getUserData()">
          <td class="p-1">
            {{users.userId}}
          </td>
          <td class="p-1">
            {{users.id}}
          </td>
          <td class="p-1">
            {{users.title}}
          </td>
          <td class="p-1">
            {{users.completed}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>